.mainFoot{
    background-color: var(--darkOrWhiteBg);

}

.mainOneFooter{
    display: flex;
    justify-content: space-around;
    /* margin-top: 2rem; */
    flex-wrap: wrap;
    margin-bottom: 6rem;
    gap: 2rem;
    



    text-transform: uppercase;
    /* width: 200px; */

    .main p{
        margin-top: 1rem;
        color: var(--textColorGreyOrWhite);
        font-size: .8rem;

     
    }
    .main h4{
        color:var(--textColorBlackOrYellow);
    }

    .pro p{
        margin-top: 1rem;
        color: var(--textColorGreyOrWhite);
        font-size: .8rem;
    }
    .pro h4{
        color:var(--textColorBlackOrYellow);
    }

    .press p{
        margin-top: 1rem;
        color: var(--textColorGreyOrWhite);
        font-size: .8rem;
    }
    .press h4{
        color:var(--textColorBlackOrYellow);
    }

    .legal p{
        margin-top: 1rem;
        color: var(--textColorGreyOrWhite);
        font-size: .8rem;
    }
    .legal h4{
        color:var(--textColorBlackOrYellow);
    }
    .search  p{
        color: var(--textColorGreyOrWhite);
        margin-top: 1rem;
        font-size: .8rem;
        width: 300px;
        
    }
    .search h4{
        color:var(--textColorBlackOrYellow);
    }
    .input{
        margin-top: 1rem;
    }

    .input::placeholder {
        /* margin-top:; */
        font-size: 15px;
        color:grey;
        /* padding: 10px; */
        /* margin-top: 2rem; */
      }
      .input[type=text]
      {
        padding: 12px;
      }

      .lastbtn{
        font-size: 1rem;
        color:white;
        padding: 12px;
        background:  blue;
        border: none;
      }


      .horizontal-line {
        border: none;
        border-top: 1px solid #000;
        /* margin-bottom: 12rem; */
      }




}

/* @media screen and (max-width: 700px) {
    .mainOne{
        flex-direction: column;
        align-items: center;
    }
    
} */


.dark-mode{
    .main p{
        color:white;
    }

    .pro p{
        color:white;
    }

    .press p{
        color:white;
    }

    .legal p{
        color:white;
    }

    .search p{
        color:white;
    }

}