.tabsAndTopic{

    margin-top: 2rem;
    display: flex;
    justify-content: space-between;


    .tTopic
    {
        display: flex;

        .check{
           margin-right: 1rem;
           font-size: 4rem;
        }

        .menu{
            background: blue;
            padding: 1rem;
            font-size: 3rem;
            color: white;
            font-style: italic;

     
        }





        




    }
}








.tab-list {
    display: flex;
    margin-top: 2rem;
  }



  
  .tab-item {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #f2f2f2;
  
  }
  
  .tab-item:hover {
    background-color: #e0e0e0;
  }
  
  .tab-item.active {
    background-color: #fff;
    border-bottom: 2px solid #000;
  }
  /* 
  .card-container {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 20px;
  }
  

  
  .card-container .card {
    display: flex;
    justify-content: space-between;
  }

  .rowOne{  
  
    background: rgb(201, 178, 178);
    padding: 0 0 1rem 0;

    .cardImg{
        height: 200px;
        width: 260px;
  
    }
    .card-details{
        margin-left: 1rem;
        margin-top: .5rem;
        .tom{
            margin-top: 1rem;
            color:rgb(128, 112, 112);
            margin-bottom: 1rem;
        }
        .price{
            font-weight: bold;
        }

    }

  } 
 */

 /* @media screen and(min-width: 500px)  and (max-width: 900px){
  .tabsAndTopic{
    flex-direction: column;
  }

   */
 /* } */