.tabsAndTopic{

    margin-top: 2rem;
    display: flex;
    justify-content: space-around;


    .tTopic
    {
        display: flex;

        .check{
           margin-right: 1rem;
           font-size: 3rem;
        }

        .menu{
            background: blue;
            padding: 1rem;
            font-size: 3rem;
            color: white;
            font-style: italic;

     
        }





        




    }
}








.tab-list {
    display: flex;
    margin-top: 2rem;
  }



  
  .tab-item {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #f2f2f2;
  
  }
  
  .tab-item:hover {
    background-color: #e0e0e0;
  }
  
  .tab-item.active {
    background-color: #fff;
    border-bottom: 2px solid #000;
  }


  @media screen and (max-width: 900px)
  {
    .mainOne {
      .tabsAndTopic{
        /* margin-top: 2rem; */
        flex-direction: column;
        align-items: center;

      }
      
    }
  }

  @media screen and (min-width: 700px) and (max-width: 899px)
  {
    .mainOne {
      .tabsAndTopic{
        .tTopic{
          .check{
            margin-top: .5rem;
            font-size: 2rem;

          }
          .menu{
            font-size: 2rem;
            padding: .8rem;
          }

        }

      }
      
    }
  }


  @media screen and (min-width: 500px) and (max-width: 699px)
  {
    .mainOne {
      .tabsAndTopic{
        .tTopic{
          .check{
            margin-top: .5rem;
            font-size: 1rem;

          }
          .menu{
            font-size: 1rem;
            padding: .6rem;
          }

        }

      }
      
    }
  }

  @media screen and (max-width: 499px) 
  {
    .mainOne {
      .tabsAndTopic{
        .tTopic{
          .check{
            margin-top: .5rem;
            font-size: .8rem;

          }
          .menu{
            font-size: .8rem;
            padding: .6rem;
          }

         

        }

      }
      
    }

    .tab-item{
      padding: 10px 10px;
    }
  }






  /* 
  .card-container {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 20px;
  }
  

  
  .card-container .card {
    display: flex;
    justify-content: space-between;
  }

  .rowOne{  
  
    background: rgb(201, 178, 178);
    padding: 0 0 1rem 0;

    .cardImg{
        height: 200px;
        width: 260px;
  
    }
    .card-details{
        margin-left: 1rem;
        margin-top: .5rem;
        .tom{
            margin-top: 1rem;
            color:rgb(128, 112, 112);
            margin-bottom: 1rem;
        }
        .price{
            font-weight: bold;
        }

    }

  } 
 */


